services:

    postgres:
        image: postgres:16
        container_name: postgres
        environment:
            POSTGRES_DB: ${DB_DATABASE:-deviant}
            POSTGRES_USER: ${DB_USERNAME:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME:-postgres}" ]
            interval: 10s
            timeout: 5s
            retries: 3

    redis:
        image: redis:7.0.7
        container_name: redis
        volumes:
            - redis_data:/data
        ports:
            - "6379:6379"

volumes:
    postgres_data:
    redis_data:
